name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main # Change this to your main branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 128.199.14.142 >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Backup existing files
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa user@your-droplet-ip-address "sudo mv /usr/local/src/php /usr/local/src/php_backup"
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa user@your-droplet-ip-address "sudo mkdir -p /usr/local/src/php"

      - name: Deploy to DigitalOcean
        run: |
          scp -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa -r php-app/* user@your-droplet-ip-address:/usr/local/src/php/

      - name: Cleanup backup (optional)
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa user@your-droplet-ip-address "sudo ls -al /usr/local/src/php_backup"
