name: Build & Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code CheckOut
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            php-app
            backup.sh
      - name: List Checked Out Folders
        run: |
          pwd
          ls -al php-app
          ls -al backup.sh
      
      - name: Deploy php-app
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{secrets.SSH_USERNAME}} # User of the server you want to ssh into
          script: |
            cd /usr/local/src/
            rm -rf test
            mkdir test
            ls -al /usr/local/src/test
            cd test
            git clone --depth 1 --branch main --filter=blob:php-test https://github.com/username/repo.git
            #git clone --depth 1 --branch main --no-checkout https://github.com/abdulbasit-APL/php-test.git
            #cd php-test
            #git sparse-checkout set php-test
            #git checkout main
            
            #git clone --no-checkout https://github.com/abdulbasit-APL/php-test.git
            #cd php-test
            #git sparse-checkout init --cone
            #git sparse-checkout set php-test backup.sh
            #git checkout @
            #git clone git@github.com:abdulbasit-APL/php-test.git
            #touch abj.txt
            ls -al /usr/local/src/test/php-test
