name: Build & Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code CheckOut
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            php-app
            backup.sh
      - name: List Checked Out Folders
        run: |
          ls -al php-app
          ls -al backup.sh
      - name: Execute backup.sh
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{secrets.SSH_USERNAME}} # User of the server you want to ssh into
          script: |
            pwd
            ${{ github.workspace }}
            ls -al
            chmod +x backup.sh
            ./backup.sh
      - name: Deploy php-app
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{secrets.SSH_USERNAME}} # User of the server you want to ssh into
          script: |
            rsync -avz php-app/ /usr/local/src/php/
            ls -al /usr/local/src/php/
