name: PHP deployment on DO Droplet
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code CheckOut
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            php-app
            backup.sh
      - name: List Checked Out Folders
        run: |
          pwd
          ls -al php-app
          ls -al backup.sh
      
      - name: Deploy php-app
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{secrets.SSH_USERNAME}} # User of the server you want to ssh into
          script: |
            cd /usr/local/src/
            rm -rf test
            mkdir test
            ls -al /usr/local/src/test
            cd test
            git clone git@github.com:abdulbasit-APL/php-test.git
            #touch abj.txt
            ls -al /usr/local/src/test/php-test
            cd /usr/local/src/test/php-test
            sudo chmod +x backup.sh
            echo "Taking Backup of the Existing Application"
            sudo /usr/local/src/test/php-test/backup.sh
            echo "Deployment got succeeded. Please Validate"
            sudo rsync -avz /usr/local/src/test/php-test/php-app/ /usr/local/src/php/
            echo "Listing the deployed files"
            ls -al /usr/local/src/php/
